.course-card {
  display: flex;
  flex-direction: column;
  max-width: 500px;
  align-items: center;
  gap: 20px;
  height: 100%;
  background-color: beige;
  border-radius: 10px;
  margin: 20px auto;
}

.course-title {
  font-weight: 800;
  font-size: 700;
}
