<div class="courses" *ngIf="courses[0] as course">
  <app-course-card
    (courseSelected)="onCourseSelected($event)"
    [course]="course"
  >
    <div class="course-image">
      <img [src]="course.iconUrl" alt="asdf" width="300" #courseImage />
      <h5>total lesson: 5</h5>
    </div>

    <div class="course-description">
      <p>
        {{ course.longDescription }}
      </p>
    </div>

    Edit Description: <textarea></textarea>
  </app-course-card>

  <app-course-card
    [course]="courses[0]"
    (courseSelected)="onCourseSelected($event)"
  ></app-course-card>
</div>
