<div class="courses" *ngIf="courses[0] as course">
  <app-course-card
    [highlighted]="false"
    #highlighter="hl"
    (toggleHighlight)="onToggle($event)"
    (courseSelected)="onCourseSelected($event)"
    [course]="course"
  >
    <app-course-image [src]="course.iconUrl" *ngxUnless="!!course.iconUrl">
    </app-course-image>

    <div class="course-description" (dblclick)="highlighter.toggle()">
      <p>
        {{ course.longDescription }}
      </p>
    </div>
  </app-course-card>
</div>
